{% extends "base.html"%}

{% load crispy_forms_tags %}

{% block content%}
    <div class="bg-white">
        <div class="flex px-6 pt-14 lg:px-8">
            <div class="mx-auto  sm:py-48 lg:py-18">
                <h1>Update the snack named: {{thing.name}}</h1>

                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" />
                </form>
            </div>
        </div>
    </div>
{% endblock content%}